
    <section id="newsSection">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="latest_newsarea"><span>BẢN TIN NÓNG HÔM NAY</span>
                    <ul id="ticker01" class="news_sticker">
                        <% latestNews.forEach(function(news) { %>
                            <li><a href="#"><img src="<%= news.image_url %>" alt=""><%= news.title %></a></li>
                        <% }); %>
                    </ul>
                    <div class="social_area">
                        <ul class="social_nav">
                            <li class="facebook"><a href="#"></a></li>
                            <li class="twitter"><a href="#"></a></li>
                            <li class="flickr"><a href="#"></a></li>
                            <li class="pinterest"><a href="#"></a></li>
                            <li class="googleplus"><a href="#"></a></li>
                            <li class="vimeo"><a href="#"></a></li>
                            <li class="youtube"><a href="#"></a></li>
                            <li class="mail"><a href="#"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contentSection">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="contact_area">
                    <h2>Contact Us</h2>
                    <form action="#" method="post" class="contact_form">
                      <input class="form-control" name="name" type="text" placeholder="Name*">
                      <input class="form-control" name="email" type="email" placeholder="Email*">
                      <textarea class="form-control" name="message" cols="30" rows="10" placeholder="Message*"></textarea>
                      <input type="submit" value="Send Message">
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <aside class="right_content">
                    <div class="single_sidebar">
                        <h2><span>Bản tin phổ biến</span></h2>
                        <ul class="spost_nav">
                            <% popularPosts.forEach(function(popularPost) { %>
                                <li>
                                    <div class="media wow fadeInDown">
                                        <a href="/post/<%= popularPost.id %>" class="media-left">
                                            <img alt="<%= popularPost.title %>" src="<%= popularPost.image_url %>">
                                        </a>
                                        <div class="media-body">
                                            <a href="/post/<%= popularPost.id %>" class="catg_title"><%= popularPost.title %></a>
                                        </div>
                                    </div>
                                </li>
                            <% }); %>
                        </ul>
                    </div>
                    <div class="single_sidebar">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#category" aria-controls="home" role="tab" data-toggle="tab">Category</a></li>
                            <li role="presentation"><a href="#video" aria-controls="profile" role="tab" data-toggle="tab">Video</a></li>
                            <li role="presentation"><a href="#comments" aria-controls="messages" role="tab" data-toggle="tab">Comments</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="category">
                                <ul>
                                    <li class="cat-item"><a href="#">Sports</a></li>
                                    <li class="cat-item"><a href="#">Fashion</a></li>
                                    <li class="cat-item"><a href="#">Business</a></li>
                                    <li class="cat-item"><a href="#">Technology</a></li>
                                    <li class="cat-item"><a href="#">Games</a></li>
                                    <li class="cat-item"><a href="#">Life &amp; Style</a></li>
                                    <li class="cat-item"><a href="#">Photography</a></li>
                                </ul>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="video">
                                <div class="vide_area">
                                    <iframe width="100%" height="250" src="http://www.youtube.com/embed/h5QWbURNEpA?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_sidebar wow fadeInDown">
                        <h2><span>Sponsor</span></h2>
                        <a class="sideAdd" href="#"><img src="/newsfeed/images/add_img.jpg" alt=""></a> </div>
                      <div class="single_sidebar wow fadeInDown">
                        <h2><span>Category Archive</span></h2>
                        <select class="catgArchive">
                          <option>Select Category</option>
                          <option>Life styles</option>
                          <option>Sports</option>
                          <option>Technology</option>
                          <option>Treads</option>
                        </select>
                      </div>
                      <div class="single_sidebar wow fadeInDown">
                        <h2><span>Links</span></h2>
                        <ul>
                          <li><a href="#">Blog</a></li>
                          <li><a href="#">Rss Feed</a></li>
                          <li><a href="/login">Login</a></li>
                          <li><a href="#">Life &amp; Style</a></li>
                        </ul>
                      </div>
                </aside>
            </div>
        </div>
    </section>
