

<section id="newsSection">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="latest_newsarea"><span>BẢN TIN NÓNG HÔM NAY</span>
                <ul id="ticker01" class="news_sticker">
                    <% if (Array.isArray(latestNews) && latestNews.length > 0) { %>
                        <% latestNews.forEach(function(news) { %>
                            <li><a href="/post/<%= news.id %>"><img src="<%= news.image_url || '/newsfeed/images/default.jpg' %>" alt=""><%= news.title || 'Không có tiêu đề' %></a></li>
                        <% }); %>
                    <% } else { %>
                        <li><a href="#">Không có tin tức mới</a></li>
                    <% } %>
                </ul>
                <div class="social_area">
                    <ul class="social_nav">
                        <li class="facebook"><a href="#"></a></li>
                        <li class="twitter"><a href="#"></a></li>
                        <li class="flickr"><a href="#"></a></li>
                        <li class="pinterest"><a href="#"></a></li>
                        <li class="googleplus"><a href="#"></a></li>
                        <li class="vimeo"><a href="#"></a></li>
                        <li class="youtube"><a href="#"></a></li>
                        <li class="mail"><a href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="sliderSection">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="slick_slider">
                <% if (Array.isArray(popularPosts) && popularPosts.length > 0) { %>
                    <% popularPosts.forEach(function(post) { %>
                        <div class="single_iteam">
                            <a href="/post/<%= post.id %>">
                                <img src="<%= post.image_url || '/newsfeed/images/default.jpg' %>" alt="<%= post.title || 'Không có tiêu đề' %>">
                            </a>
                            <div class="slider_article">
                                <h2><a class="slider_tittle" href="/post/<%= post.id %>"><%= post.title || 'Không có tiêu đề' %></a></h2>
                                <p><%= post.content ? post.content.substring(0, 100) : 'Không có nội dung' %>...</p>
                            </div>
                        </div>
                    <% }); %>
                <% } else { %>
                    <p>Không có bài viết nào để hiển thị.</p>
                <% } %>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="single_sidebar wow fadeInDown">
                <h2><span>Danh Mục</span></h2>
                <ul class="category_list">
                    <% categories.forEach(function(category) { %>
                        <li>
                            <a href=""><%= category.name %></a>
                        </li>
                    <% }); %>
                </ul>
            </div>
            <div class="latest_post">
                <h2><span>ĐỀ XUẤT</span></h2>
                <div class="latest_post_container">
                    <ul class="latest_postnav">
                        <% if (Array.isArray(latestNews) && latestNews.length > 0) { %>
                            <% latestNews.forEach(function(post) { %>
                                <li>
                                    <div class="media">
                                        <a href="/post/<%= post.id %>" class="media-left">
                                            <img alt="<%= post.title || 'Không có tiêu đề' %>" src="<%= post.image_url || '/newsfeed/images/default.jpg' %>">
                                        </a>
                                        <div class="media-body">
                                            <a href="/post/<%= post.id %>" class="catg_title"><%= post.title.substring(0, 40) || 'Không có tiêu đề' %></a>    
                                            <p class="post_excerpt"><%= post.content ? post.content.substring(0, 25) + '...' : 'Không có nội dung' %></p>
                                            <p class="post_date">Ngày đăng : <%= new Date(post.created_at).toLocaleDateString('vi-VN') || 'Ngày không xác định' %></p>
                                        </div>
                                    </div>
                                </li>
                            <% }); %>
                        <% } else { %>
                            <li><p>Không có bài viết nào để hiển thị.</p></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contentSection">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="left_content">
                <% if (Array.isArray(categories) && categories.length > 0) { %>
                    <% categories.forEach(category => { %>
                        <div class="single_post_content mb-4">
                            <h2 class="category_title"><span><%= category.name || 'Không có danh mục' %></span></h2>
                            <div class="business_catgnav">
                                <ul class="business_catgnav">
                                    <% if (Array.isArray(category.posts) && category.posts.length > 0) { %>
                                        <li class="post_item main-post">
                                            <figure class="bsbig_fig">
                                                <a href="/post/<%= category.posts[0].id %>" class="featured_img">
                                                    <img src="<%= category.posts[0].image_url || '/newsfeed/images/default.jpg' %>" alt="<%= category.posts[0].title || 'Không có tiêu đề' %>" class="post_image">
                                                </a>
                                                <div class="post_content">
                                                    <figcaption>
                                                        <a href="/post/<%= category.posts[0].id %>" class="post_title"><%= category.posts[0].title || 'Không có tiêu đề' %></a>
                                                    </figcaption>
                                                    <p class="post_excerpt"><%= category.posts[0].content ? category.posts[0].content.substring(0, 100) : 'Không có nội dung' %>...</p>
                                                </div>
                                            </figure>
                                        </li>
                                    <% } %>
                                </ul>
                            </div>
                            <div class="row smaller-posts">
                                <% if (Array.isArray(category.posts) && category.posts.length > 1) { %>
                                    <% category.posts.slice(1).forEach((post) => { %>
                                        <div class="col-6 mb-3">
                                            <div class="post_item">
                                                <figure class="bsbig_fig">
                                                    <a href="/post/<%= post.id %>" class="featured_img">
                                                        <img src="<%= post.image_url || '/newsfeed/images/default.jpg' %>" alt="<%= post.title || 'Không có tiêu đề' %>" class="post_image small-image">
                                                    </a>
                                                    <div class="post_content">
                                                        <figcaption>
                                                            <a href="/post/<%= post.id %>" class="post_title"><%= post.title || 'Không có tiêu đề' %></a>
                                                        </figcaption>
                                                        <p class="post_excerpt"><%= post.content ? post.content.substring(0, 50) : '' %></p>
                                                    </div>
                                                </figure>
                                            </div>
                                        </div>
                                    <% }); %>
                                <% } %>
                            </div>
                        </div>
                    <% }); %>
                <% } else { %>
                    <p>Không có danh mục nào để hiển thị.</p>
                <% } %>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <aside class="right_content">
                <div class="single_sidebar">
                    <br><br><br>
                    <h2><span>Bản tin phổ biến</span></h2>
                    <ul class="spost_nav">
                        <% if (Array.isArray(popularPosts) && popularPosts.length > 0) { %>
                            <% popularPosts.forEach(function(popularPost) { %>
                                <li>
                                    <div class="media wow fadeInDown">
                                        <a href="/post/<%= popularPost.id %>" class="media-left">
                                            <img alt="<%= popularPost.title || 'Không có tiêu đề' %>" src="<%= popularPost.image_url || '/newsfeed/images/default.jpg' %>">
                                        </a>
                                        <div class="media-body">
                                            <a href="/post/<%= popularPost.id %>" class="catg_title"><%= popularPost.title || 'Không có tiêu đề' %></a>
                                            <% if (popularPost.content) { %>
                                                <p><%= popularPost.content.substring(0, 50) %>...</p>
                                            <% } else { %>
                                                <p>Nội dung không có sẵn.</p>
                                            <% } %>
                                        </div>
                                    </div>
                                </li>
                            <% }); %>
                        <% } else { %>
                            <li><p>Không có bài viết phổ biến nào.</p></li>
                        <% } %>
                    </ul>
                </div>
                <div class="single_sidebar">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#category" aria-controls="home" role="tab" data-toggle="tab">Category</a></li>
                        <li role="presentation"><a href="#video" aria-controls="profile" role="tab" data-toggle="tab">Video</a></li>
                        <li role="presentation"><a href="#comments" aria-controls="messages" role="tab" data-toggle="tab">Comments</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="category">
                            <ul>
                                <li class="cat-item"><a href="#">Sports</a></li>
                                <li class="cat-item"><a href="#">Fashion</a></li>
                                <li class="cat-item"><a href="#">Business</a></li>
                                <li class="cat-item"><a href="#">Technology</a></li>
                                <li class="cat-item"><a href="#">Games</a></li>
                                <li class="cat-item"><a href="#">Life & Style</a></li>
                                <li class="cat-item"><a href="#">Photography</a></li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="video">
                            <div class="vide_area">
                                <iframe width="100%" height="250" src="http://www.youtube.com/embed/h5QWbURNEpA?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single_sidebar wow fadeInDown">
                    <h2><span>Sponsor</span></h2>
                    <a class="sideAdd" href="#"><img src="/newsfeed/images/add_img.jpg" alt=""></a>
                </div>
                <div class="single_sidebar wow fadeInDown">
                    <h2><span>Category Archive</span></h2>
                    <select class="catgArchive">
                        <option>Select Category</option>
                        <option>Life styles</option>
                        <option>Sports</option>
                        <option>Technology</option>
                        <option>Treads</option>
                    </select>
                </div>
                <div class="single_sidebar wow fadeInDown">
                    <h2><span>Links</span></h2>
                    <ul>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Rss Feed</a></li>
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Life & Style</a></li>
                    </ul>
                </div>
            </aside>
        </div>
    </div>
</section>