<footer id="footer">
    <div class="footer_top">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="footer_widget wow fadeInLeftBig">
                    <h2>Follow Us</h2>
                    <p>Email: <%= websiteInfo.email %></p>
                    <p>
                        <a href="<%= websiteInfo.facebook %>" target="_blank" style="color: white;">
                          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/1024px-Facebook_Logo_%282019%29.png" alt="Logofacebook" width="50px">
                          Facebook</a><br>
                        <a href="<%= websiteInfo.youtube %>" target="_blank" style="color: white; ">
                          <img src="https://cdn.pixabay.com/photo/2016/07/03/18/36/youtube-1495277_640.png" alt="Logoyoutube" width="50px" style="margin-top: 10px;">
                          YouTube</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="footer_widget wow fadeInDown">
                    <h2>Contact</h2>
                    <address><%= websiteInfo.address %></address>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="footer_widget wow fadeInRightBig">
                    <h2>Copyright</h2>
                    <p><%= websiteInfo.copyright %></p>
                </div>
            </div>
            <div class="subscribe_section">
              <h2 style="font-family: 'Times New Roman';">Đăng ký nhận thông tin</h2>
              <form action="/subscribe" method="POST">
                  <input type="email" name="email" placeholder="Nhập email của bạn" required style="width: 250px; height: 40px; color: black;">
                  <button type="submit" style="background-color: red; width: 100px; height: 40px;">Đăng ký</button>
              </form>
          </div>
        </div>
        
    </div>
    <div class="footer_bottom">
        <p class="copyright">Copyright &copy; <%= websiteInfo.copyright %> <a href="/">NewsFeed</a></p>
        <p class="developer">Developed By PKT</p>
    </div>
    
</footer>

</div>
<script src="/newsfeed/assets/js/jquery.min.js"></script>
<script src="/newsfeed/assets/js/wow.min.js"></script>
<script src="/newsfeed/assets/js/bootstrap.min.js"></script>
<script src="/newsfeed/assets/js/slick.min.js"></script>
<script src="/newsfeed/assets/js/jquery.li-scroller.1.0.js"></script>
<script src="/newsfeed/assets/js/jquery.newsTicker.min.js"></script>
<script src="/newsfeed/assets/js/jquery.fancybox.pack.js"></script>
<script src="/newsfeed/assets/js/custom.js"></script>
</body>
</html>